
@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}
<!--
File: AccessDenied.cshtml
Name: Andre Agrippa
Date: 12/10/2020
-->
<body class="bg-dark">
    <header>
        <h1 class="title-color">@ViewData["Title"]</h1>

        <p class="text-danger">You do not have access to this resource.</p>

    </header>
</body>