@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
<!--
File: ConfirmEmail.cshtml
Name: Andre Agrippa
Date: 12/10/2020
-->
<body class="bg-dark">
    <h1 class="title-color">@ViewData["Title"]</h1>
</body>
