@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1 class="title-color">@ViewData["Title"]</h1>
<body class="bg-dark">
    <p class="title-color">
        Please check your email to reset your password.
    </p>
    @{
        if (@Model.TempData["mydata"].ToString() == "false")
        {
            <p></p>
        }
        else
        {
            <p> <a id="change-password " href="@Model.TempData["mydata"]">Click here</a></p>
        }

    }
</body>



