@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}
<!--
File: ResetPasswordConfirmation.cshtml
Name: Andre Agrippa
Date: 12/10/2020
-->
<body class="bg-dark">
    <h1 class="title-color">@ViewData["Title"]</h1>
    <p>
        Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
    </p>
</body>